/* PC */
@media (min-width: 64em) {

}

/* Tablet + Mobile */ 
@media (max-width: 63.9375em) {

    .background__caption {
        width: 80%;
    }

    .navbar__item-link {
        text-shadow: none;
    }

    .slider__content ul li a, 
    .slider__content ul li {
        font-size: 1.6rem;
    }

    .slider__content li a::after {
        top: 50%;
    }
    /* ABOUT */
    .about__img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .about__content {
        text-align: center;
    }
    
    /* CONTACT */
    .contact__info {
        padding: 0;
    }

    .contact__info-intro,
    .contact__form-title,
    .contact__info-desc,
    .contact__form-desc {
        text-align: center;
    }

    .contact__address-desc {
        margin: 10px 0 30px 0;
    }

    .contact__info-social {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact__form {
        margin-top: 40px;
    }
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    :root {
        --header-height: 80px;
    }

    .header {
        height: var(--header-height);
    }

    .navbar__item-link {
        padding: 32px 16px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    :root {
        --header-height: 80px;
    }    
    /* navbar */
    .navbar__logo .logo {
        padding-left: 20px;
    }

    .navbar__logo img {
        height: 35px;
    }

    .navbar__mobile {
        display: block;
    }

    .navbar__list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: ease-in-out .3s;
        z-index: 99;
        background-color: var(--white-color);
    }

    .navbar__item-link {
        padding: 18px 20px;
    }

    .navbar__menu {
        display: block;
    }

    .slider__content {
        padding: 0 20px;
    }

    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    /* HOME */
    .background__caption {
        width: 80%;
    }

    .background__caption h5 {
    margin-bottom: 12px;
    font-size: 3rem;
    }

    .background__caption p {
        font-size: 1.4rem;
    }
    
    .show-on-home-page {
        text-shadow: 1px 1px 1px #000 !important;
    }

    .last-child {
        margin-bottom: 20px;
    }

    /* ABOUT */
    .about__content {
        padding: 0 16px;
    }
    .about__content h2 {
        font-size: 2.2rem;
    }

    .member__content {
        /* padding-left: 8px; */
        padding-right: 4px;
    }

    /* CONTACT */
    .contact {
        padding: 0;
    }

    .contact-wrap {
        padding: 80px 16px;
    }
}
